body{
    background-color:#FFFFFF;
}
.btn{ /* override bootstrap */
    display:block;    
    background-color:#FCFC99;
    border-radius:10px;
    margin:5px 0;
    box-shadow:10px 10px 5px #888888;
    width:100%;
    text-align:left;
}
.btn:hover{
    color:#888888;
    background-color:#DDDD85;
}

@media (max-width: 767px) and (orientation:landscape){ /* mobile landscape */

    .containerButton .colLeft{
        width:34%;
    }
}